
<%-layout("layouts/boilerplate.ejs") %>

<form action="/listings/user/signup" method="post">
    username:<input type="text" name="username" >
    email: <input type="email" name="email">
    password: <input type="password" name="password">
    <button>register</button>
</form>